[submodule "libs/libtesla"]
	path = libs/libtesla
	url = https://github.com/WerWolv/libtesla
[submodule "libs/libultrahand"]
	path = libs/libultrahand
	url = https://github.com/ppkantorski/libultrahand
